*,body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.pCont {
    margin-top: 7rem;
    /* border: 1px solid black; */
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.pTxt {
    width: 50vw;
    height: inherit;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.pImg {
    width: 50vw;
    /* border: 1px solid red; */
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    perspective: 500px;
}

#pImg {
    width: 400px;
    height: 400px;
    border-radius: 20px;
    background-size: cover;
    cursor: pointer;
    transform: preserve-3d;
    transform: rotateY(5deg);
    box-shadow: -5px 0px 10px 5px rgb(212, 212, 212);
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
}

#pImg:hover {
    transform: rotateY(0);
    box-shadow: 0px 0px 10px 3px rgb(212, 212, 212);
}

#pName {
    font-family: "Protest Strike", sans-serif;
    font-size: calc(1vw + 1vh);
    color: #fb8a22;
}

#pPrice {
    font-family: "Protest Strike", sans-serif;
    font-size: calc(2vw + 2vh);
    color: #fb8a22;
    transform: rotate(2deg);
    cursor: pointer;
}

.pDescription {
    font-family: "Protest Strike", sans-serif;
    font-size: calc(1vw + 1vh);
    color: #fb8a22;
    margin-top: 1.5rem;
    margin-bottom: 5rem;
    margin-left: 1rem;
}

.btn {
    margin-top: 7rem;
    padding: 1rem;
    width: 250px;
    background: none;
    border: 1px solid rgb(180, 180, 180);
    color: #fb8a22;
    font-family: "Protest Strike", sans-serif;
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}
.btn:hover {
    transform: translateY(-10px);
    background-color: #fb8a22;
    color: white;
}

@media (max-width: 1024px) {
    .pCont {
        display: grid;
    }
    .pImg {
        width: inherit;
    }
    #pImg {
        width: 90vw;
    }
    .pTxt {
        width: inherit;
    }
}