@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Diphylleia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    background-color: rgba(255, 255, 255, 0);
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.315);
}

body {
    background-color: rgb(255, 255, 255);
    /* background-image: url(img/waterbg2.png); */
    overflow-x: hidden;
}

nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.726);
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid rgb(228, 227, 225);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px 0px 40px;
    z-index: 10;
} 

img {
    width: 100px;
}

.logo {
    cursor: pointer;
}

.desktop {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 500px;
    /* border: 1px solid black; */
}

#menu {
    display: none;
}

#closemenu {
    display: none;
}

.menuDiv {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 4.4rem;
    display: block;
    width: 0vw;
    height: 0px;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    background-color: #fb8a22;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
}

.desktop li {
    display: inline;
    list-style-type: none;
    font-size: 20px;
    font-family: "Protest Strike", sans-serif;
    cursor: pointer;
    transition-duration: .1s;
    transition-timing-function: ease-in-out;
}

.desktop li:hover {
    color: #fb8a22;
    transform: translate(1px , 1px);
}

.mobile {
    display: none;
}

.herosection {
    position: relative;
    top: 71px;
    /* border: 1px solid black; */
    width: 100svw;
    height: 100svh;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;  
}
.herotxt {
    margin-top: 2rem;
    width: 45vw;
    height: 80vh;
    /* border: 1px solid black; */
    font-size: 55px;
    line-height: 7rem;
    font-family: "Protest Strike", sans-serif;
    font-weight: bold;
    text-align: center;
    transform: rotate(5deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 70px;
    color: #fb8a22;
    /* padding-bottom: 0px; */
}

.herotxt button {
    transform: rotate(-5deg);
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgb(175, 170, 170);
    color: black;
    background: none;
    font-family: "Protest Strike", sans-serif;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
}

.herotxt button:hover {
    background-color: #fb8a22;
    color: white;
    transform: translate(10px , -10px);
}

.heroimg {
    background-image: url(img/tornpaperbg.png);
    background-size: cover;
    width: 50vw;
    height: 90vh;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    overflow: hidden;
}

.img {
    position: absolute;
    background: url(img/dogSketch3-.png);
    width: 30vw;
    height: 80vh;
    top: 50px;
    background-size: cover;
    z-index: -1;
    transition-duration: .5;
    transition-timing-function: ease-in-out;
}

header {
    margin-top: 10rem;
    border-top: 1px solid rgb(211, 211, 211);
    border-bottom: 1px solid rgb(211, 211, 211);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
    text-wrap: wrap;
    color: #fb8a22;
    font-family: "Protest Strike", sans-serif;
    font-size : clamp(1.3rem, 2vw, 5rem);
    word-spacing: 5px;
    text-align: center;
    padding-bottom: 1rem;
}

.products {
    margin-top: 10rem;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto auto;
    gap: 6rem 3rem;
    height: fit-content;
}

.perspectiveCard {
    /* border: 1px solid black; */
    width: 30vw;
    height: fit-content;
    perspective: 500px;
}

.productCard {
    width: inherit;
    height: 70vh;
    border: 1px solid rgb(194, 194, 194);
    transform: rotateY(5deg);
    transform-style: preserve-3d;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
    display: grid;
    align-items: center;
    justify-content: space-between;
    border-radius: 30px;
    box-shadow: -5px 5px 10px 5px rgb(224, 224, 224);
    cursor: pointer;
    overflow: hidden;
}

.add {
    top: 29rem;
    left: 8.5rem;
    margin: auto;
    width: 120px;
    padding: 15px;
    border-radius: 20px;
    font-family: "Protest Strike", sans-serif;
    cursor: pointer;
    font-size: 16px;
    background: none;
    transition: .3s;
    background-color: #fb8a22;
    color: white;
    border: 1px solid rgba(189, 189, 189, 0.521);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.productCard:hover {
    transform: rotateY(0deg);
    box-shadow: 0px 0px 10px 5px rgb(224, 224, 224);

    .add {
        transform: translateY(-52px);
    }
}

.productimg {
    width: inherit;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}
.productimg img {
    width: 300px;
}
.productName {
    width: inherit;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Protest Strike", sans-serif;
    font-size: 20px;
    border-bottom: 1px solid silver;
}

.productPrice {
    width: inherit;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Protest Strike", sans-serif;
    color: #fb8a22;
    font-weight: bolder;
    font-size: 20px;
}

.seeMore {
    margin-top: 3rem;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgb(175, 170, 170);
    padding-bottom: 2rem;
}

.seeMore button {
    padding: 15px;
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid rgb(175, 170, 170);
    color: black;
    background: none;
    font-family: "Protest Strike", sans-serif;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
}

.seeMore button:hover {
    background-color: #fb8a22;
    color: white;
    transform: translateY(-20px);
}

.aboutDiv {
    margin-top: 3rem;
    width: 100vw;
    height: auto;
    font-family: "Protest Strike", sans-serif;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.txtDiv {
    margin-left: .5rem;
    width: 50vw;
    font-size: 18px;
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 2rem;
    line-height: 40px;
}

.aboutImg {
    width: 40vw;
    height: inherit;
    border-bottom-left-radius: 150px;
}

.img1 {
    background: url(img/dogSketch3-.png);
    width: 30vw;
    height: 100vh;
    background-size: cover;
    z-index: -1;
    transition-duration: .5;
    transition-timing-function: ease-in-out;
}

.aboutDiv {
    border-bottom: 1px solid rgb(175, 170, 170);
}

footer {
    width: 100vw;
    height: 50vh;
}

@media (min-width: 820px) and (max-width: 1024px) {
    .herosection {
        display: flex;
        position: relative;
    }
    .heroimg {
        position: absolute;
        top: 0;
        width: 100vw;
    }
    .img {
        width: 100vw;
        height: 75vh;
    }
    .herotxt {
        position: absolute;
        top: 5.5rem;
        width: 100vw;
        height: 70vh;
        z-index: 5;
        background-color: #ffffffce;
        transform: rotate(0);
        font-size: 40px;
        line-height: normal;
        justify-content: space-around;
        font-weight: bolder;
        gap: 2rem;
        /* word-break: break-all; */
        /* text-wrap: wrap; */
    }
    .products {
        grid-template-columns: auto auto;
        width: 100vw;
    }
    .productCard {
        width: 40vw;
        height: 50vh;
    }
    .productimg {
        height: 30vh;
    }
    .perspectiveCard {
        width: 40vw;
    }
    .aboutDiv {
        flex-direction: column;
    }
    .txtDiv {
        width: 100vw;
    }
    .aboutImg {
        width: 100vw;
    }
    .img1 {
        width: 100vw;
        height: 80vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0px 40px 0px 40px;
    }
    .desktop {
        display: none;
    }
    #menu {
        display: block;
    }
    #closemenu {
        display: none;
    }
    
    .mobile {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: inherit;
        height: inherit;
    }
    .mobile li{
        list-style-type: none;
        font-family: sans-serif;
        font-family: "Protest Strike", sans-serif;
    }

    .herosection {
        display: block;
        position: relative;
    }
    .heroimg {
        position: absolute;
        top: 0;
        width: 100vw;
    }
    .img {
        width: 100vw;
        height: 75vh;
    }
    .herotxt {
        position: absolute;
        top: 5.5rem;
        width: 100vw;
        height: 70vh;
        z-index: 5;
        background-color: #ffffffce;
        transform: rotate(0);
        font-size: 40px;
        line-height: normal;
        justify-content: space-around;
        font-weight: bolder;
        gap: 2rem;
        padding-top: 0px;
    }
    header {
        padding-bottom: 0;
    }
    .products {
        margin-top: 3rem;
        grid-template-columns: auto;
    }
    .perspectiveCard {
        width: 80vw;
    }
    .aboutDiv {
        flex-direction: column;
    }
    .txtDiv {
        width: 100vw;
    }
    .aboutImg {
        width: 100vw;
    }
    .img1 {
        width: 100vw;
        height: 80vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .txtDiv {
        font-size: 16px;
        line-height: 30px;
    }
}